@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

body {
	@apply bg-primary;
}

.custom-card-image .card.image-full:before {
	border-radius: 0.5rem;
	opacity: 0.45;
}
body::-webkit-scrollbar {
	width: 0.45rem;
	border-radius: 50%;
}
body::-webkit-scrollbar-track {
	@apply bg-accent;
}
body::-webkit-scrollbar-thumb {
	@apply bg-secondary;
}
